.ad_rightmenu{
    position: absolute;
    right: 30px;
}
.fa-backward{
    font-size: 40px;
    color: whitesmoke;
    cursor: pointer;
}
.header .header__logo{
    width: 15%;
}
@media only screen and (min-width: 100px) and (max-width: 600px) {
    .header .header__logo{
        width: 20%;
    }
    .header .header__findbar{
        margin-left: 10%;
    }

}
